.comprar-tickets {
  margin: 0 auto;
  max-width: 100vw;
}

.card-body > h6 {
  font-weight: 400;
}

p.card-text {
  font-weight: bold;
}

.formulario-comprar-tickets {
  margin: 1rem auto 4rem;
}

.contenedor__total-pagar {
  margin: 1rem auto 2rem;
}